{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play" >
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou" >
        <link rel="stylesheet" href="{% static 'boards/css/main.css' %}" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>
        <div class="main-wrapper">
            <div class="upper-head logo" id="header-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="menu-btn">
                                <a href="#" v-bind:class="{'openned-menu-btn': isMenuOpen}" @click="isMenuOpen=!isMenuOpen"><i class="fas fa-bars"></i></a>
                            </div>
                            <!---
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Feedback</a></li>
                            </ul>
                        -->
                        </div>
                        <div class="col-md-10">
                            <a href="#">
                                <h2>dBoard</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% block content %}
            {% endblock %}
            <div class="side-block-menu" id="side-menu" v-if="headerObj.isMenuOpen" name="side-block-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 side-block-menu-item">
                            <h3>Menu</h3>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Feedback</a></li>
                            </ul>
                            {% if boardCodes %}
                                <h3>Boards</h3>
                                <ul>
                                    {% for code in boardCodes %}
                                        <li><a href="#">{{code}}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Feedback</a></li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        {% if boardCodes %}
                            <div class="container board-list">
                                <div class="row">
                                    {% for code in boardCodes %}
                                        <div class="col-md-2">
                                            <a href="#">/{{code}}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
        <script src="{% static 'boards/js/main.js' %}"></script>
        <style type="text/css">
            #hellopreloader>p{
                display:none;
            }
            #hellopreloader_preload{
                display: block;
                position: fixed;
                z-index: 99999;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                min-width: 1000px;
                background: #000 url(http://hello-site.ru//main/images/preloads/audio.svg) center center no-repeat;
                background-size:41px;
            }
        </style>
        <div id="hellopreloader">
            <div id="hellopreloader_preload"></div>
        </div>
        <script type="text/javascript">
            var hellopreloader = document.getElementById("hellopreloader_preload");
            function fadeOutnojquery(el){
                el.style.opacity = 1;
                var interhellopreloader = setInterval(
                    function(){
                        el.style.opacity = el.style.opacity - 0.05;
                        if (el.style.opacity <=0.05){
                            clearInterval(interhellopreloader);
                            hellopreloader.style.display = "none";
                        }
                    },16
                );
            }
            window.onload = function(){
                setTimeout(
                    function(){
                        fadeOutnojquery(hellopreloader);
                    },1000);};
        </script>
    </body>
</html>
