{% extends "boards/base.html" %}
{% load static %}
{% block content %}

    {% if boardDetail %}
        <img src="{% static 'boards/'|add:boardDetail.boardImg %}" alt="">
        <h1>{{boardDetail.boardName}}</h1>
        <p>{{boardDetail.boardDesc}}</p>
        Add new thread:
        <form class="" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.threadTitle }}
            {{ form.threadDesc}}
            {{ form.threadImg}}
            {{form.errors}}
            <input type="submit" name="" value="add new">
        </form>
        {% if threadList %}
            <h2>threads:</h2>
            {% for thread in threadList %}
                <li><a href="{% url 'detailThread' boardDetail.boardCode thread.id %}">{{thread.threadTitle}}</a></li>
            {% endfor %}
        {% else %}
            <p>There is no thread</p>
        {% endif %}
    {% endif %}
{% endblock content %}
