{% extends "boards/base.html" %}
{% load static %}
{% block content %}
    {% if boardsList %}
        <div class="container board-list">
            <h1>List of the boards</h1>
            <div class="row">
                {% for board in boardsList %}
                    <div class="col-md-6 col-sm-6 board-item">
                        <a href="{% url 'detailBoard' board.boardCode %}">
                            <img src="{% static 'boards/' %}{{board.boardImg}}" alt="">
                            <p class="board-desc">
                                <h4>{{board.boardName}}</h4>
                                <p>{{board.boardName}}</p>
                            </p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock content %}
