{% extends "boards/base.html" %}
{% load static %}
{% block content %}
    <img src="{% static '/'%}{{threadDetail.threadImg}}" alt="">
    <h1>{{threadDetail.threadTitle}}</h1>
    <p>{{threadDetail.pubDate}}</p>
    <p>{{threadDetail.threadDesc}}</p>
    {% if messageList %}
        {% for msg in messageList %}
            <div>
                <h3>{{msg.author}}</h3>
                <p>POST ID: {{msg.id}}</p>
                <p>{{msg.textMessage}}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>There is no message yet</p>
    {% endif %}
    Add message:
    <form class="" action="#end" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.textMessage }}
        {{form.errors}}
        <input type="submit" name="" value="add new">
    </form>
{% endblock content %}
