@import "vars.scss";
body{
    padding: 0;
    margin: 0;
    background-color: $backGroundColor !important;
    h1,h2,h3,h4,h5,h6{
      font-family: 'ZCOOL QingKe HuangYou', cursive;
    }
    a,p{
        font-family: 'Play', sans-serif;
    }
    li{
        list-style-type: none;
    }
    a{
        color:$textColor;
        &:hover{
            text-decoration: none;
        }
    }
}


.upper-head{
        text-align: right;
        padding-top: 7vh;
        padding-bottom: 2vh;
        padding-right: 10vh;
        margin-bottom: 10vh;
        background-color: $staticColor;
        .openned-menu-btn{
            transform: rotate(90deg);
        }
        .menu-btn{
            a{
                float: left;
                font-size: 40px;
                color: $textColor
            }
        }
        h2{
            font-size: 60px;
            color: $neonColor;
            text-transform: uppercase;
            animation: neonLighting 4s infinite linear;
        }
        ul{
            li{
                margin-left: 5vh;
                float: left;
                list-style-type: none;
                a{
                    color: $textColor;
                }
            }
        }
}


.main-wrapper{
    color: $textColor;
    position: relative;
    .side-block-menu{
        position: absolute;
        top: 15%;
        min-width: 20vw;
        background-color: $staticColor;
        .side-block-menu-item{
        }
    }
    .board-list{
        h1{
            margin-bottom: 10vh;
            font-size: 30px;
            animation: neonLight 4s infinite linear;
        }
        text-align: center;
        .board-item{
            margin-bottom: 50px;
            p{
                color: $textColor;
            }
            img{
                max-width: 220px;
                max-height: 220px;
            }
        }
    }
}
.footer-main{
    background-color: $staticColor;
    padding-top: 5vh;
    a{
        color: $textColor;
    }
    li{
        list-style-type: none;
    }
}
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-color: #000;
  .loader{
      position: absolute;
      top: 50%;
      left: 49%;
      color:#fff;
  }
}


.side-block-menu-enter-active {
  animation: sideMenuSlideAway 25s;
}
.side-block-menu-leave-active {
  animation: sideMenuSlideAway 25s reverse;
}
@keyframes sideMenuSlideAway{
    0% {
      left:0;
    }
    25% {
      left:-25%;
    }
    50% {
      left:-50%;
    }
    75% {
      left:-75%;
    }
    100% {
      left:-100%;
    }
}
@keyframes neonLighting{
    0% {
        text-shadow: 0 0 8px $neonColor,
                     0 0 10px $neonColor,
                     0 0 12px $neonColor,
    }
    50% {
        text-shadow: 0 0 2px $neonColor,
                     0 0 4px $neonColor,
    }
    100%{
        text-shadow: 0 0 8px $neonColor,
                     0 0 10px $neonColor,
                     0 0 12px $neonColor,
    }
}
@keyframes neonLight{
    0% {
        text-shadow: 0 0 8px $neonColor,
                     0 0 10px $neonColor,
                     0 0 12px $neonColor,
    }
    50% {
        text-shadow: 0 0 8px $neonColor,
                     0 0 10px $neonColor,
                     0 0 12px $neonColor,
    }
    100%{
        text-shadow: 0 0 8px $neonColor,
                     0 0 10px $neonColor,
                     0 0 12px $neonColor,
    }
}
