$backGroundColor: #171717;
$neonColor: #67ff3d;//#CC53BD;
$shadowColor: #232323;
$textColor: #fff;
$textActive:$neonColor;
$maxSideProfileWidth: 300px;
$colorLike: #66ff33;
$colorDislike: #ff0000;
$staticColor: #26292B;
%border-btn{

}
